* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-around;
	background-color: #000000;
	padding: 10px;
	border-radius: 40px;
	border: 1px solid black;
}

nav li {
	list-style: none;
}

nav li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

nav li a:hover {
	color: red;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #23bde4;
	min-height: 100vh;
	overflow-y: auto;
}

.text {
	color: white;
	font-size: 1.5em;
}

footer {
	margin-top: auto;
	background-color: #000000;
	padding: 10px;
	border-radius: 40px;
	border: 1px solid black;
}

.footer-content {
	color: white;
	font-size: 1.5em;
	text-align: center;
}

.text-center {
	text-align: center;
}